In [37]:
text = '''
Note 1 - Overview first stack
9934657866 My name is Ritwik and my mobile number is 9934657867 and i live at Bangalore 8834235734.Tesla cfo number (999)-333-7777

Note 2 - Overview of the sample
The goal of this project is to develop an Extractive Question Answering (QA) FY2021 Q1 was $6.34 model that can accurately 
and efficiently retrieve answers from a given text corpus. The model will leverage state-of-the-art 
techniques and deep learning architectures to extract rakesh25892@gmail.com relevant fy2022 Q1 was $43.45 information from a FY2023 Q2 passage and answer user queries precisely.
FY2023 Q6
'''
# Here quater 6 is note valid so take [1234]

In [1]:
import re
# words_without_numbers = re.findall(r'\b[A-Za-z]+\b', text)
# words_with_numbers = re.findall(r'\b[A-Za-z]+\d+[A-Za-z]*\b', text)
# words_without_numbers
#re.findall('[A-Za-z0-9]+', text)

In [92]:
import re
#phone number
pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'
re.findall(pattern, text)

['9934657866', '9934657867', '8834235734', '(999)-333-7777']

In [33]:
# complex one
text = "sample phone number +6032-007 1212, +6999.100 3444, 017-7778800 etc."
pattern = "\+\d\d{3}[-.]\d{3} \d{4}|\d{3}[-.]\d{3}\d{4}" #\s? is for space
re.findall(pattern, text)

['+6032-007 1212', '+6999.100 3444', '017-7778800']

In [88]:
pattern = 'Note \d - [^\n]*' # or 'Note \d - ([^\n]+)'
pattern2 = 'Note \d - ([^\n]+)'
p1 = re.findall(pattern, text)
print(p1)
p2 = re.findall(pattern2, text)
print(p2)

['Note 1 - Overview first stack', 'Note 2 - Overview of the sample']
['Overview first stack', 'Overview of the sample']

In [48]:
# financial year
pattern = "FY\d{4} Q[1234]" # or "FY\d{4} Q[1-4]"

In [49]:
re.findall(pattern, text, flags=re.IGNORECASE)

['FY2021 Q1', 'fy2022 Q1', 'FY2023 Q2']

In [85]:
pattern= "\$[\d\.]+" # or "\$[0-9\.]+"
# without $
#pattern = '\$([\d\.]+)'

re.findall(pattern, text, flags=re.IGNORECASE)

['$6.34', '$43.45']

In [57]:
pattern = 'FY\d{4} Q[1234][^\$]+\$[\d\.]+' ### this is [^\$] for was in sentence
pattern = '(FY\d{4} Q[1234])[^\$]+(\$[\d\.]+)'
re.findall(pattern, text, flags=re.IGNORECASE)

[('FY2021 Q1', '$6.34'), ('fy2022 Q1', '$43.45')]

In [13]:
# https://www.youtube.com/watch?v=V_BozMwoYe4&list=WL&index=37&t=709s
text2 = '''rakesh25892@gmail.com is my email other is r.g@gmail.com and more 
other is do$c@amazon.co.uk , sd_pk@gmail.com, rakesh.sah@edu.in, 123.rr@gmail.com, 123rr@demo.co.in"
'''
# pattern = '[\w\.-]+@[\w\.-]+'
# pattern = '[\w\.]+@[\w\.]+'
pattern = '[\w.\$]+@[\w.]+'
re.findall(pattern, text2)

['rakesh25892@gmail.com',
 'r.g@gmail.com',
 'do$c@amazon.co.uk',
 'sd_pk@gmail.com',
 'rakesh.sah@edu.in',
 '123.rr@gmail.com',
 '123rr@demo.co.in']

In [ ]:
[\w\.-]+@[\w\.-]+
/
gm
Match a single character present in the list below [\w\.-]
+ matches the previous token between one and unlimited times, as many times as possible, giving back as needed (greedy)
\w matches any word character (equivalent to [a-zA-Z0-9_])
\. matches the character . with index 4610 (2E16 or 568) literally (case sensitive)
- matches the character - with index 4510 (2D16 or 558) literally (case sensitive)
@ matches the character @ with index 6410 (4016 or 1008) literally (case sensitive)
Match a single character present in the list below [\w\.-]
+ matches the previous token between one and unlimited times, as many times as possible, giving back as needed (greedy)
\w matches any word character (equivalent to [a-zA-Z0-9_])
\. matches the character . with index 4610 (2E16 or 568) literally (case sensitive)
- matches the character - with index 4510 (2D16 or 558) literally (case sensitive)
Global pattern flags 
g modifier: global. All matches (don't return after first match)
m modifier: multi line. Causes ^ and $ to match the begin/end of each line (not only begin/end of string)

In [63]:
text3 = '''matches the previous token between one and unlimited times, as many times as possible, giving back as needed (greedy)
345, for 34567, 4810 and for the 2E16'''

pattern = "\d{3,5}|\d{1}[a-zA-Z]{1}\d{2}"
re.findall(pattern, text3)

['345', '34567', '4810', '2E16']

In [66]:
text3 = '''matches the previous token between one and unlimited times, as many times as possible, giving back as needed (greedy)
345, for 34567, 4810 and for the 2E16'''

dd = re.compile(r"\d{3,5}|\d{1}[a-zA-Z]{1}\d{2}")
ff = dd.finditer(text3)
[i.group() for i in ff]

['345', '34567', '4810', '2E16']

In [59]:
text5 = "hi my name as abhi dob is 25-05-2023, 23.09.2021, 02/apr/2025, 05/06/2024"
#pattern = "\d{2}\/[A-Za-z]{3}\/\d{4}|\d{2}[-.]\d{2}[-.]\d{4}"

pattern = "\d{2}[-./][A-Za-z0-9]{2,3}[-./]\d{4}"
re.findall(pattern, text5)

['25-05-2023', '23.09.2021', '02/apr/2025', '05/06/2024']

In [93]:
text= 'my income is $12,00 and for $123,000'
pattern = '\$[\d,]+'
re.findall(pattern, text)

['$12,00', '$123,000']

In [5]:
#print('old\new')#print(r'old\new')

In [6]:
text = "ABC 123 quety 223 @@2 box 234"
pattern = "\d\d\d"
match = re.search(pattern, text)
if match:
    print(match.group())

123

In [2]:
text = '''
Note 1 - Overview
Tesla, Inc. (“Tesla”, the “Company”, “we”, “us” or “our”) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (“CODM”), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
'''

In [4]:
import re
pattern = '\w{3,9} \d{2}, \d{4}'
re.findall(pattern, text)

['September 30, 2021',
 'September 30, 2021',
 'December 31, 2020',
 'December 31, 2020']

In [34]:
text = "Hi, how are you?" #write a pattern for start with hi and end with ?
pattern = "^Hi.*\?$"
re.findall(pattern, text)

['Hi, how are you?']

In [38]:
text = '''December 31, 2020 was derived from the audited on Form 10-K for the year ended December 31, 2020.'''

pattern = re.compile(r'\w{3,9} \d{2}, \d{4}')
pattern.sub("*******", text)

'******* was derived from the audited on Form 10-K for the year ended *******.'

In [10]:
pattern = '[aeiou]'
re.findall(pattern, text)

['u', 'e', 'o']